*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
.wrapper{
    max-width: 80%;
    margin: 0 auto;
}
.tabs__nav{
    display: flex;
    justify-content: space-between;
}
.tabs-nav__item{
    padding: 20px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    flex: 1;
}
.tabs-nav__item.is-active{
    border-color: #55a32a;
}
.tab{
    display: none;
    background-color: #f2f2f2;
    padding: 20px;
}
.tab.is-active{
    display: block;
}